body {
/*     background-color: #282828; */
    margin-left: 15%;
    margin-top: 10%;
}

.day{
  background-color: #ebdbb2;
}

.night{
  background-color: #282828;
}

h1 {
    font-family: 'Montserrat';
    color: #ebdbb2;
}
.slider {
    -webkit-appearance: none;
    width: 30%;
    height: 25px;
    border-radius: 30px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #b8bb26;
    cursor: pointer;
}
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #b8bb26;
    cursor: pointer;
}

.box {
/*     background-color: #444; */
    color: #fff;
    border-radius: 5px;
    padding: 20px;
/*     font-size: 150%; */
    order: 1;
    height: 200%;
    width: 100%;
    border-color: #ebdbb2;
}

/* 
.box:nth-child(even) {
    background-color: #ccc;
    color: #000;
}
*/

.wrapper {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-gap: 60px;
    grid-row-gap: 100%;
}

input{
    width:100%;
    padding: 0;
    text-align: center;
}

input[type="text"]
{
    font-family: 'Montserrat';
    padding: 0;
    font-size:24px;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .sliderr {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderr:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderr {
    background-color: #2196F3;
  }
  
  input:focus + .sliderr {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderr:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .sliderr.round {
    border-radius: 34px;
  }
  
  .sliderr.round:before {
    border-radius: 50%;
  } 